<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="/layout/contentsLayout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--<script type="text/javascript" src="/js/main/script-main.js"></script>-->
    <link rel="import" href="/html/common/common">
    <script type="text/javascript" src="/js/editor/DevOppEditor.js"></script>
    <style>
        .maxGridHeigh {
            min-height: 100vh;
            height : 100vh;
        }
    </style>
    <script>

        const markDownDisPlay = (evenet,txt) =>{

            let lender = txt.innerText;
            lender = marked(lender).replace(/\n/g, '  \n')
            document.getElementById("test").innerHTML = lender;

        };


        window.onload = () => {
            const markdownEdit = new DevOppEditor("markDown",document.getElementById("txt"));

            markdownEdit.bindDomEventAdd("keyup",(e)=> markDownDisPlay(e,markdownEdit.bindDom));

        };


    </script>



</head>
<body>
<th:block layout:fragment="content">




        <div class="row maxGridHeigh">
            <div class="col-5" id="txt" contentEditable = "true">
                <!--<textarea class="form-control maxGridHeigh" id="txt" style="background-color: black; color: white" ></textarea>-->
            <!--<div id="txt" contenteditable>-->
            </div>
            <!--</div>-->


            <div id ="test" class="col-7">
                반갑
            </div>

        </div>










</th:block>
</body>
</html>

