<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="/layout/contentsLayout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--<script type="text/javascript" src="/js/main/script-main.js"></script>-->
    <link rel="import" href="/html/common/common">
    <!--<script type="text/javascript" src="/js/board/board.js"></script>-->
    <style>
        .maxGridHeigh {
            min-height: 100vh;
            height : 100vh;
        }
    </style>
    <script>

        const markDownDisPlay = (evenet,txt) =>{
            let startIndex = txt.selectionStart;
            let endIndex = txt.selectionEnd;

            if(evenet.key == 'Tab'){
                txt.value = txt.value.substring(0,startIndex) + "\t" + txt.value.substring(endIndex);
                console.log(startIndex);
                txt.selectionEnd = startIndex+1;
            }else if(evenet.key === 'Enter'){
                txt.value = txt.value.substring(0,startIndex) + "   " + txt.value.substring(endIndex);
                txt.selectionEnd = startIndex+1;
            }

            //let lender = txt.innerText;
            let lender = txt.value;
            //lender.replace("\u00a0\u00a0\u00a0\u00a0","\t");
            //console.log(lender);


            lender = marked(lender)
            //lender.replace("\t","\u00a0\u00a0\u00a0\u00a0");


            document.getElementById("test").innerHTML = lender;

        };

        const divTab = (e) => {
            e.preventDefault();
            let range =window.getSelection().getRangeAt(0);
            let tabNode = document.createTextNode("\u00a0\u00a0\u00a0\u00a0");
            range.insertNode(tabNode);

            range.setStartAfter(tabNode);
            range.setEndAfter(tabNode);

            console.log(`range: ${range}`);
        };

        const txtAreaTab  = (e,txt) =>{
           // e.preventDefault();


        };



        window.onload = () => {
            const txt = document.getElementById("txt");
            txt.addEventListener("keyup",(evenet) => markDownDisPlay(event,txt),);
            txt.addEventListener("keydown",(evenet) => {
                /*텝키 막기*/
                if(evenet.key ==="Tab"){
                    evenet.preventDefault();
                }


            },);

        };


    </script>



</head>
<body>
<th:block layout:fragment="content">

        <textarea id="txt" ></textarea>
        <!--<div id="txt" contenteditable>-->

        <!--</div>-->

        <div id ="test" class="eight wide column" style="background-color: black; color: white;">
            <p>
                안녕하세요
                반갑습니다.
            </p>
        </div>








</th:block>
</body>
</html>

