<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="/layout/contentsLayout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--<script type="text/javascript" src="/js/main/script-main.js"></script>-->
    <link rel="import" href="/html/common/common">
    <!--<script type="text/javascript" src="/js/board/board.js"></script>-->
    <style>
        .maxGridHeigh {
            min-height: 100vh;
            height : 100vh;
        }
    </style>
    <script>

        const markDownDisPlay = (evenet,txt) =>{
            if (evenet.keyCode == 9){

            }
            let lender = txt.innerText;
            console.log(lender);

            lender = marked(lender);


            document.getElementById("test").innerHTML = lender;

        };

        window.onload = () => {
            let txt = document.getElementById("txt");
            txt.addEventListener("keyup",(evenet) => markDownDisPlay(event,txt),);

        };


    </script>



</head>
<body>
<th:block layout:fragment="content">

        <div id="txt" contenteditable>

        </div>

        <div id ="test" class="eight wide column" style="background-color: black; color: white;">
            <p>
                안녕하세요
                반갑습니다.
            </p>
        </div>








</th:block>
</body>
</html>

