<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" name="viewport">
<head>
    <!-- 공통 css, js, meta tag -->
    <th:block th:replace="common/common"></th:block>
</head>
<script>
</script>

<body>
	
		<div class="container-fluid">
		<div class="row">
			<div class="col-2">
					<img src="..." class="rounded mx-auto d-block" alt="...">
			</div>
			
		    <div class="col-10">
		    	<th:block layout:fragment="content"></th:block>
					
			</div>
		</div>
		
	</div>
    <!-- 공통 javascript -->
    <th:block th:replace="common/layerpopup"></th:block>
</body>
</html>