<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- 공통 css, js, meta tag -->
    <th:block th:replace="common/common"></th:block>
</head>
<body>
	<div class="ui left visible sidebar vertical inverted menu center aligned container">
		<div class="item">
			<div class="ui card">
				<a class="image dimmed" href="#">
				    <img src="/img/common/noneImage.png" class="visible content">
				</a>
			</div>
		</div>
		<a class="">
	      1
	    </a>
	    <a class="">
	      2
	    </a>
	    <a class="">
	      3
	    </a>
	</div>
	
	<!-- page content body 구성 -->
	<div class="pusher">
		<div class="ui segment">
			<th:block layout:fragment="content"></th:block>
		</div>
	</div>
	
    <!-- 공통 javascript -->
    <th:block th:replace="common/layerpopup"></th:block>
</body>
</html>
