<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="/layout/contentsLayout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <script type="text/javascript" src="/js/main/script-main.js"></script>
    <link rel="import" href="/html/common/common">
    <script type="text/javascript" src="/js/board/board.js"></script>
    <script>
        const board = new Board();
        window.onload  = function(){
            board.boardlist();
            board.boardlist();
            board.boardlist();
            board.boardlist();


        };

        window.onscroll = function (e) {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                board.boardlist();
            }

        }




    </script>



</head>
<body>
<th:block layout:fragment="content">





            <!--<div class="ui vertical sidebar inverted menu visible">-->
                <!--<div class="item">-->
                    <!--<button onclick="board.boardlist()">-->
                        <!--버튼 입니다.-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->



        <div id= "contents" class="ui grid">

        </div>





    <template id ="card">
        <div class="column four wide ">
            <div class="ui card">
                <div class="ui slide masked reveal image">
                    <img src="/img/test.jpg" class="visible content">
                    <img src="/img/test2.jpg" class="hidden content">
                </div>
                <div class="content">
                    <a class="header">Team Fu &amp; Hess</a>
                    <div class="meta">
                        <span class="date">Created in Sep 2014</span>
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="users icon"></i>
                        2 Members
                    </a>
                </div>
            </div>
        </div>
    </template>
</th:block>
</body>
</html>

