<!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
*      FILE NAME : index.html
* REPORTING DATE : 2020.01.10
*     WRITTEN BY : zinzoddari@gmail.com
*    DISCRIPTION : 메인
=====================================================
* REVISION HISTORY
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="import" href="/common/common">
    <script type="text/javascript" src="/js/main/script-main.js"></script>
</head>
<body>
	<form id="test">
		<input type="text" name="test" value="test" />
	</form>
	
	<input type="button" name="submit" onclick="main.submit(test);" />
</body>
</html>